h1{

  font-size:4em;
  font-family:sans-serif;


}

img{
  max-width:400px;
  width:100%;
  height:auto;
  margin:0 auto;
  display:block;
}
.context{
  background: #d1d1e0;
  padding: .25cm;
  margin: .5cm;

}

p{
  font-family:sans-serif;
}


.container{
  max-width: 750px;
  width:100%;

}

.highlight{
  background-color: grey
}



}

.headline {
    color: rgb(100,50,100);
  }


}
