h1{

  font-size:4em;


}

img{
  max-width:400px;
  width:100%;
  height:auto;
  margin:0 auto;
  display:block;
}



.container{
  max-width: 750px;
  width:100%;

}

.highlight{
  background-color: grey
}

.content{
  margin:2cm;

}

.headline {
    color: rgb(100,50,100);
  }


}
