h1{

  font-size:4em;
  font-family:sans-serif;
  color:#2F2E39;


}

img{
  max-width:400px;
  width:100%;
  height:auto;
  margin:0 auto;
  display:block;
  display: flex;
  flex-wrap: wrap;
}
.context{
  background: #d1d1e0;
  padding: .25cm;
  margin: .5cm;


}

p{
  font-family:sans-serif;
  color:#2F2E39;


}


.container{
  max-width: 750px;
  width:100%;
  margin: 0 auto;
  padding-right:8em;

}

.highlight{
  background-color: grey;
}

.linkback{
  font-style:bold;
  font-family:sans-serif;
  margin: .5cm;
  background-color: #d1d1e0;

}

.linkback > a{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.relative{
  position: relative;
}

.icon{
  margin: 1em;
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
  color:#2F2E39;
}

.sidebaricon{
  margin: 1em;
  width: 2em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  color:#2F2E39;
}





a{
  font-style:bold;
  font-family:sans-serif;
  text-decoration: none;
  color:black;

}


.sidebar{
  background-color: #d1d1e0;
  position: fixed;
  top:0;
  padding-left: 1em;
  right:-18em;
  width: 18em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebaricon:hover + .sidebar{
  right:0;
  transition: right 0.5s ease;
}

.sidebar:hover{
  position:fixed;
  top:0;
  right:0;

}



input[type='text'],
input[type='password'],
input[type='email']{
  font-size: 1em;
  padding: 0.5em;
  width:100%;
  background-color: #d1d1e0;
}

optgroup{
  background-color: #d1d1e0;
}

textarea{
  background-color: #d1d1e0;
}
